<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<hr>

<div>
    <% @products.each do |product| %>
        <div>
            <%= link_to product.name, product %>
        </div>
    <% end %>
</div>
